/* Widget One */
.cw-seo-box * {
    /*transition: all 0.5s ease-in-out;*/
}
.cw-seo-box .cw-seo-box-content {
    overflow: hidden;
    position: relative;
}
.cw-seo-box .cw-overlay {
    position: absolute;
    width: 100%;
    height: 3rem;
    background: linear-gradient(#f9f9f900, #f9f9f9);
    bottom: 0;
}
.cw-seo-box.show .cw-seo-box-content {
    overflow: unset;
    position: relative;
    height: auto !important;
}
.cw-seo-box.show .cw-overlay {
    height: 0;
}
.cw-seo-box .cw-less {
    display: none;
}
.cw-seo-box.show .cw-less {
    display: block;
}
.cw-seo-box.show .cw-more {
    display: none;
}
